<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">


    <link rel="stylesheet" href="../Styles/style.css">
    <title>Movie1</title>
</head>

<body>
    <header></header>
    <main>
        <article>
            <h2>Title</h2>
            <figure>
                <iframe src="https://www.youtube.com/embed/DXUUqr3AFKs" frameborder="0"></iframe>
                <figcaption>Trailer</figcaption>
            </figure>
        </article>
        <article>
            <p>Description</p>
            <ul>
                <li>Director</li>
                <li>Actors</li>
                <li>Year</li>
            </ul>
        </article>
        <article class="arrows"></article>
    </main>
    <footer></footer>
</body>

</html>